@import '@/styles/_variables.scss';
.home {
  width: 100%;
  color: $white;
  margin-top: -50px;

  .movie-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }
}