.content_wrapper {
  width: 100dvw;
  display: flex;
  align-items: flex-start;
  padding: 30px 40px;

  .left,
  .right {
    // border: 1px solid #ffffff3e;
  }

  //left section - crew and recommondations etc
  .left {
    width: calc(100dvw - 80px - 268px);
    max-width: calc(1440px - 80px - 268px);
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding-right: 30px;

    .top_billed {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid #373737;

      h3 {
        font-weight: bold;
      }
      .cast_scroller {
        display: flex;
        width: 100%;
      }
      a {
        text-decoration: none;
        color: aliceblue;
        font-weight: 600;
        padding-bottom: 20px;
      }
    }

    .social_panel {
      width: 100%;
      padding: 20px 0;
      .review {
        width: 100%;
        display: block;

        .menu {
          display: flex;
          align-items: baseline;

          h4 {
            padding-left: 20px;
          }
        }
        .content {
          width: 100%;
        }
      }
    }
    .recommendation_panel {
      overflow: hidden;
      width: 100%;
      padding: 20px 0;
    }
  }

  //right section for kewords etc
  .right {
    min-width: 260px;
    width: 260px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: -20px 0px 35px 35px rgba(0,8,20,1);

    .social_links{
      display: flex;
      width: 100%;
      height: 60px;

      div{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        a{
          display: block;
          width: 100%;
          height: 100%;
          span{
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain;
          }
        }
      }
      .homepage{
        width: 40px;
        border-left: 1px solid #373737;
        padding-left: 10px;
        a{
          width: 100%;
          height: 100%;
          background-color: transparent;
          span{
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain;
          }
        }
      }
    }
    p{
      margin: 0;
      margin-bottom: 20px;
    }

    .keywords_panel{
      display: flex;
      width: 100%;
      flex-direction: column;
      border-bottom: 1px solid #373737;
      padding-bottom: 40px;

      ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li{
          background-color: #373737;
          opacity: .7;
          color: aliceblue;
          list-style: none;
          padding: 5px 10px;
          margin: 2px;
          border-radius: .3rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content_wrapper {
    flex-direction: column;
    padding: 10px 20px;

    .left,.right{
      width: 100dvw;
    }
  }
}
