.App {
  width: 100%;
  height: 100vh;
}
.error_container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container_wrapper {
    width: 60%;
    height: 60%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    .container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // border: 1px solid red;
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          text-align: center;
          width: auto;
          height: auto;
          font-size: 40rem;
          // border: 2px solid green;
          color: rgba(99, 99, 99, 0.1);
          transition: 1s;

          @media (max-width: 768px) {
            font-size: 30rem;
          }
          @media (max-width: 600px) {
            font-size: 25rem;
          }
          @media (max-width: 400px) {
            font-size: 18rem;
          }
        }
      }

      .bot_image {
        position: relative;
        width: 208px;
        height: 300px;
        background-image: url("../image/error_robot.png");
        background-size: cover;
      }
      h1 {
        width: "100%";
        text-align: "center";
        position: relative;
        transform: translateY(-100%);
      }
    }
  }
}