.movies-container,.trending-movies {
  * {
    color: aliceblue;
  }

  h2 {
    margin: 0;
    padding: 1rem 2rem;
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: center;
    padding: 0 1rem;
    column-gap: 0.3%;
  }
  .movie-card {
    max-width: 130px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .movies-container {
    h2{
      text-align: center;
    }
    .movie-list {
      .movie-card {
        max-width: 120px;
      }
    }
  }
}
