.navbar {
  top: 0;
  width: 100%;
  position: fixed;
  height: 8vh;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 8, 20, 0.5);
  z-index: 99;
  backdrop-filter: blur(3px);

  .navbar_container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title,
    .searchBar {
      display: inline-block;
    }
    .title {
      font-size: 2rem;
      margin-left: 1rem;
      letter-spacing: 2px;
      font-weight: bold;
    }
    .searchBar {
      margin: 0 1rem;
      display: flex;
      align-items: baseline;
      background-color: rgba(128, 128, 128, 0.3);
      color: aliceblue;
      border-radius: 5px;
      width: 20rem;
      height: auto;
      min-width: 130px;
      padding: 5px;
      margin-left: 6rem;
      form{
        height: 20px;
        width: 100%;
      }
      svg {
        padding: 0 0.5rem;
        position: relative;
      }
      input {
        position: absolute;
        padding: 2px;
        width: 80%;
        border: none;
        background-color: transparent;
        outline: none;
        color: aliceblue;
      }
    }
    @media (max-width:600px) {
      .title{
        font-size: 1.5rem;
      }
      .searchBar{
        padding: 3px;
      }
    }
  }
}
