@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background-color: rgba(72, 72, 72, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(62, 62, 62);
}