.movie-card {
    width: 200px;
    height: 350px;
    margin: 0.7rem;
    /* box-shadow: 0 4px 5px rgba(19, 19, 19, 0.2); */
    position: relative;
    border-radius: 10px;
    /* border: 1px solid rgb(15, 15, 15); */
    cursor: pointer;
  }
  .movie-card .card-img img {
    transition: transform 0.2s ease-in;
  }
  
  .movie-card:hover .card-img img {
    transform: scale(1.1) rotate(5deg);
  }

  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  .movie-card .card-img{
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
  }
  .counter{
    transform: translate(-50%,-100%);
  }
  .movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
  }
  
  .movie-info h3 {
    margin-top: 0;
  }
  
  .movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .movie-info span.green {
    color: lightgreen;
  }
  
  .movie-info span.orange {
    color: orange;
  }
  
  .movie-info span.red {
    color: red;
  }
  
  .movie-card:hover .overview {
    transform: translateY(0);
  }
  