.counter {
    width: 36px;
    height: 36px;
    position: absolute;
    transform: translate(-50%,-100%);
    border-radius: 50%;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 1em 0;
    background-color: rgb(3, 0, 28)
    /* overflow: hidden; */
  }
  
  .percentage {
    font-family: "Source Sans Pro",Arial,sans-serif;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate3d(-7%, -50%, 0);
    color: #fff;
    font-size: 0.7rem;
  }
  .percentage span{
    font-size: 0.4rem;
    position: absolute;
  }
  
  .circleProgressCanvas {
    position: absolute;
    top: 3px;
    left: 3px;
  }
  